body, html {
  height: 100%
}

.container {
  position: relative;

  background-image: url('./white-rainforest-unsplash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  
  text-align: center;
  
}

.center-box{
  position: relative;
  top: 40vh;
}

.title {
  font-family: Helvetica;
  color: white;
}

.divider {
  margin: auto;
  width: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.subtitle {
  font-family: Helvetica;
  color: white;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
    
  .subtitle {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 75px;
  }
    
  .subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 100px;
  }
    
  .subtitle {
    font-size: 25px;
  }
}